body {
  background-color: black;
}

canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas {
  z-index: 999999999;
}

.logo {
  margin: auto;
  position: absolute;
  top: -30%;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 400px;
  max-height: auto;
}

@media only screen and (max-width: 600px) {
  .logo {
    max-width: 180px;
  }
}